<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width-device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>