<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit temporibus delectus culpa reiciendis nostrum sequi itaque assumenda, cupiditate sapiente corrupti similique, saepe ad perspiciatis quo! Dolor aut vitae amet delectus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex eos vero corrupti, facere ducimus, eaque dignissimos voluptas voluptates quod maxime accusamus facilis odit reiciendis neque veritatis nam magnam, odio pariatur!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius libero autem dolorem quo rem officiis maxime. Minima rem iure quaerat nobis illum eveniet provident fuga placeat, quis natus iusto expedita?</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>